@font-face {font-family: "Krungthep";
  src: url("Krungthep.ttf") format("truetype")
}


p.frage
{
 font-style: italic;
 color: #A9A9A9 
}


* {
  color: #000000;
  font-family: Krungthep;
}

body {
  background: #FFFFFF
}

a {
  text-decoration: none; 
  color: #000000
}

a:visited {
  color: #000000
}

h1 {
  text-align: center;
}



h1.whereami {
  color: #ff0000 
}

.picture {
  height: 50%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.content {
  width: 80%;
  padding: 10%;
  text-align: center;
}

.section {
  padding: 20px;

}

.footer {
  position: fixed;
  bottom: 0;
  width: 90%;
  padding: 5%;
  padding-bottom: 2%;
  text-align: right;
}

ul
{
  align: center;
}

li
{
  align: center;
}


